extends layout

block content
  .min-h-screen.flex.items-center.justify-center.py-12.px-4
    .text-center
      .text-6xl.font-bold.gradient-text.mb-4 500
      h2.text-3xl.font-bold.text-gray-800.mb-2 Server Error
      p.text-gray-600.text-lg.mb-8 Something went wrong on our end. Please try again later.

      a.inline-block.gradient-primary.text-white.px-8.py-3.rounded-lg.font-bold.hover_opacity-90.transition(
        href="/"
      )
        i.fas.fa-arrow-left.mr-2
        | Go Back Home
